@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default --prefersdark;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #ffef14;
  --color-secondary: #0569f3;
}

@theme inline {
  --font-sans: var(--font-mulish), ui-sans-serif, system-ui, sans-serif;
}
